* {
    margin:0;
    padding: 0;
    box-sizing: border-box;/* to ensure box model*/
}
body {
    
    font-family: 'Inconsolata', monospace;
    background-color: #c5d3ee;
}
.button__primary{
    
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding:12px;
    border-radius: 6px;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 3px 5px;
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}
.nav__item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding:12px;
    border-radius: 6px;
    cursor: pointer;
    
}
.button__primary:hover{
border: 3px solid aqua;
}

.container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.hero__container{
    max-width: 100%;
    margin-top: 20px;
    padding: 0 20px;
}
.hero__image__container{
    width: 100%;
}
.hero__image{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}
.hero__text{
    font-size: 30px;
    margin: 20px 0;
}

.explore__menu__text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;

}

.food__card__image__container {
    width: 100%;
}
.food__card{
    background-color: #fff;
    
    margin-bottom: 15px;
}
.food__card__image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.food__card__description{
    padding: 15px;
}






@media (min-width: 768px) {

    .navbar{
        justify-content: space-between;
        padding: 10px 30px;
    }
    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
    }
    .food__card__image{
        min-height: 300px;
        max-height: 300px;
    }
  
    .explore__menu__lists{
        
        display: flex;
        gap: 15px;    
        
    }
    #Pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .explore__menu__text{
        margin: 40px;
        padding: 40px;
        font-size: 50px;
    }
   
    
    

    }
@media (min-width: 1020px) {
    .navbar__brand{
        width:150px;
    }
    .button__primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero__description{
        width: 100%;
    }
    .container{
        max-width: 1000px;
        
    }
    .hero__text{
        font-size: 50px;
    }
    .hero__image{
        height: 400px;
    }

   
}

    
